* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
div{
    /* border: 1px solid red; */
}
header {
    padding: 0 20px;
    width: 100%;
    height: 120px;
    background: white;
    border-bottom: 1px solid #efefef;
}
.logo{
    margin-left: 39%;
    margin-top: 30px;
    width: 30%;
}

.nav-menu {
    width: 100%;
    border-bottom: 1px solid #efefef;
    /* border: 1px solid red; */
}
.logo img {
    height: 65px;
    margin-top: 15px;
}
.nav-menu > a {
    display: none;
}

.nav-menu ul li a.cta {
    padding: 10px 20px;
    color: white;
    background: lightgray;
} 


nav{
    height: 60px;
    overflow: hidden;
    border-bottom: 1px solid #efefef;
    /* background-color: antiquewhite; */
    /* border: 1px solid red; */

}
nav:hover{
    height: 150px;
    /* border: 1px solid red; */
    transition: 0.5s ease-in-out;
    transition-duration: 0.9s;
}
.nav-menu{
    font-size: 17px;
}

.nav-menu ul{
    float: left;
    margin: 20px auto 10px 10%;
    list-style: none;
    height: 40px;
    
}
.nav-menu li{
    height: 40px;
    text-align: center;
}

.nav-menu li a{
    text-decoration: none;
    color: #565A5C;
}
.nav-menu li a:hover{
    font-weight: bold;
}

.hamburger-menu {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    padding: 20px;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    background: #eef1f4;
}
.hamburger-menu ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
}
.hamburger-menu ul li a {
    color:  #565A5C;
    text-decoration: none;
    font-size: 20px;
}
.hamburger-menu ul li a:hover {
    color: black;
}
.close {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    color: black;
    font-size: 35px;
    text-decoration: none;
}
@media screen and (max-width: 1000px)
{
    .nav-menu ul {
        display: none;
    }
    .nav-menu > a {
        display: block;
        height: 100%;
        line-height: 70px;
        float: right;
        color: lightgrey;
        font-size: 20px;
    }

    .hamburger-menu.active {
        display: block;
    }
}

section{
    margin-bottom: 100px;
    /* border: 1px solid red; */
}

@keyframes blink-effect {
    10% {opacity: 0.9;}
    20% {opacity: 0.8;}
    30% {opacity: 0.7;}
    40% {opacity: 0.6;}
    50% {opacity: 0.7;}
    60% {opacity: 0.8;}
    70% {opacity: 0.9;}
    80% {opacity: 0.8;}
    90% {opacity: 0.7;}
}

#blink {
animation: blink-effect 10s step-end infinite;
}


 /* ν‘Έν„° μ‹μ‘ */
footer {
background-color: rgba(238, 238, 238, 224);
height: 400px;
}
#ft_list_box {
width: 800px;
margin-left: 25%;
border-bottom: 1px solid gray;
}
#ft-list ul {
display: inline-block;
margin: 60px 60px 30px 60px;
}
#ft-list li {
text-align: center;
list-style: none;
text-decoration: none;
text-decoration-line: none;
padding: 2px;
}
#ft-list a {
text-decoration: none;
text-decoration-line: none;
color: darkgray;
font-size: small;
}
h4 {
padding-bottom: 10px;
}
#ft-list li a:hover {
color: black;
}
#ft {
width: 700px;
margin-left: 25%;
}
#ft-box {
width: 400px;
margin-left: 20%;
}
#ft h4 {
text-align: center;
}
#ft p {
text-align: center;
font-size: 10px;
}
#ft img {
width: 30px;
margin: 10px 30px auto;
}