<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Petsonal Shopper</title>
    <style></style>
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/color.css" />
    <!-- Demo CSS (No need to include it into your project) -->
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script defer src="js/includ.js" type="text/javascript"></script>
  </head>
  <body>
    <header><div data-include="header.html"></div></header>
    <div id="clear"></div>
    <div class="wrap"></div>


    <!-- Section 시작 -->
    <section>
      <main class="cd__main">
        <!-- Start DEMO HTML (Use the following code into your project)-->
        <main id="main">
          <h1>Petsonal Color</h1>
          <div id="Q"> 
            <span id="qq"> 강아지의 눈동자는 무슨 색인가요?</span>
          </div>
          <div id="clear"></div>

          <div id="cardbox">
            <div class="card"><a href="color3.html"> <img src="img/color/black_eyes22.jpg" alt="black eyes"/></a> 
              <div class="text">
                <h3 data-splitting="">blue/black eyes</h3>
              </div>
            </div>
            <div class="card"><a href="color3.html"> <img src="img/color/brown_eyes.jpg" alt="brown eyes"/></a>
              <div class="text">
                <h3 data-splitting=""> Brown eyes</h3>
              </div>
            </div>
        </div>
        </main>
    </section>


    <footer><div data-include="footer.html"></div></footer>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js/main.js" charset="utf-8"></script>
  <script src="js/includ.js"></script>
</html>
