
    <!-- footer 시작 -->
    <footer th:fragment="footerFragment">
      <div id="ft-list">
        <div id="ft_list_box">
          <ul>
            <h4>Legal Area</h4>
            <br />
            <li><a href="privacy.html"> Privacy Policy</a></li>
            <li><a href="#">Refund Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
          </ul>
          <ul>
            <h4>Helpful Tools</h4>
            <br />
            <li><a href="#"> Sizing Guide</a></li>
            <li><a href="#">Color Guide</a></li>
            <li>&nbsp</li>
          </ul>
          <ul>
            <h4>Customer Service</h4>
            <br />
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
      </div>
      <div id="ft">
        <br />
        <br />
        <h4>Follow us</h4>
        <div id="ft-box">
          <a href="#"><img src="/img/fb.png" /> </a>
          <a href="#"><img src="/img/insta.png" /> </a>
          <a href="#"><img src="/img/twt.png" /> </a>
          <a href="#"><img src="/img/wapp.png" /> </a>
        </div>
        <br />
        <br />
        <p>
          Copyright © 2023 PETSONAL SHOPPER • COMPANY REG NO:012345678
          VAT:ABC0000000
        </p>
      </div>
    </footer>


