
    <!-- 헤더 시작 -->
    <header th:fragment="headerFragment1">
      <div class="logo" id="blink">
        <a th:href="@{/}" ><img  src="/img/logo.png" alt="" /></a>
      </div>
    </header>
    
    
    
    
    
        <nav th:fragment="headerFragment2">
      <div class="nav-menu">


        <ul>
          <li><a href="#" >Wear</a></li>
          <br>
          <li><a th:href="@{/size}"  >사이즈 추천</a></li>
          <li><a th:href="@{/hoodies}"  >Hoodies</a></li>
        </ul>
        <ul>
          <li><a href="#" >Harness & Collars</a></li>
          <br>
          <li><a href="#" >Harness</a></li>
          <li><a href="#" >Collars</a></li>
        </ul>
        <ul>
          <li><a href="#" >Contact</a></li>
          <br>
          <li><a th:href="@{/question/list}" >Q&A</a></li>
          <li><a th:href="@{/FaQ}" >자주 묻는 질문</a></li>
        </ul>
        <ul></ul>
        <ul>
          <li><a href="#" class="cta">My page</a></li>
          <br>
          <li sec:authorize = "isAnonymous()"><a th:href="@{/login}" >Login</a></li>
          <li sec:authorize = "isAuthenticated()"><a th:href="@{/user/logout}" >Logout</a></li>
          <li><a th:href="@{/admin/item/new}"  >상품등록</a></li>
        </ul>
          <a href="#">
            <i class="fas fa-bars"> </i>
          </a>
        </a>
      </div>
    
    
    
    
    
    
    <!-- NAV 시작 -->
    <!-- 
    <nav th:fragment="headerFragment2">
      <div class="nav-menu">
        <ul>
          <li><a href="#" >About</a></li>
          <br>
          <li><a href="color1.html" >펫스널 컬러</a></li>
          <li><a th:href="@{/size}"  >펫스널 사이즈</a></li>
        </ul>
        <ul>
          <li><a href="#" >Wear</a></li>
          <br>
          <li><a href="#" >T-shirts</a></li>
          <li><a th:href="@{/hoodies}"  >Hoodies</a></li>
        </ul>
        <ul>
          <li><a href="#" >Harness & Collars</a></li>
          <br>
          <li><a href="#" >Harness</a></li>
          <li><a href="#" >Collars</a></li>
        </ul>
        <ul>
          <li><a href="#" >Contact</a></li>
          <br>
          <li><a th:href="@{/question/list}" >Q&A</a></li>
          <li><a th:href="@{/FaQ}" >자주 묻는 질문</a></li>
        </ul>
        <ul></ul>
        <ul>
          <li><a href="#" class="cta">My page</a></li>
          <br>
          <li sec:authorize = "isAnonymous()"><a th:href="@{/login}" >Login</a></li>
          <li sec:authorize = "isAuthenticated()"><a th:href="@{/user/logout}" >Logout</a></li>
          <li><a href="#" >Cart</a></li>
        </ul>
          <a href="#">
            <i class="fas fa-bars"> </i>
          </a>
        </a>
      </div>
       -->
      
      
      
      
      
       <div class="hamburger-menu">
        <ul>
          <li>
            <a href="#">ABout</a>
            </li>
          <li>
            <a href="#">Wear</a>
          </li>
            <li>
              <a href="#">Harness</a>
          </li>
            <li>
            <a href="#" >Contact</a>
            </li>
            <li></li><li></li>
            <li>
              <a href="#" class="cta">My page</a>
            </li>
          </ul>
          <a href="#" class="close">
            <i class="fas fa-time"> </i>
          </a>
        </div> 
      
    </nav>


