<html layout:decorate="~{layout}">

<section layout:fragment="content" class="main"
	style="margin-top: 200px; margin-left: 20%; background-color: white;">
	<iframe width="1020" height="575"
		
	

		src="https://www.youtube.com/embed/qM_w2uCyF8w?autoplay=1&mute=1&modestbranding=1&controls=0&start=3&end=15&loop=1&playlist=qM_w2uCyF8w"
		title="YouTube video player" 
		frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen

		>
	</iframe>
</section>
	<!--  
        src="https://www.youtube.com/embed/ULUPe8HnIB4?autoplay=1&mute=1&modestbranding=1&controls=0&start=3&end=15&loop=1&playlist=ULUPe8HnIB4"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen-->

</html>