
<html layout:decorate="~{layout}">

  
  <link rel="stylesheet" type="text/css" href="/css/login.css">

    <section layout:fragment="content" >
     <style>
      section{
        height: 900px;
      }
      form{
        margin-top: -180px;
        height: 900px;
      }
      .signup{
      	font-weight:light;
      	font-size:small;
      }

    </style>
 
     <link rel="stylesheet" type="text/css" href="/css/login.css">
      <form>
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input
          type="text"
          placeholder="Email or Phone"
          id="username"
          required
        />

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" required />

        <button class="login">로그인</button>
        
      </form>
	    <button class="signup" th:href=@{/signup}>가입하기 Sign up</button>
    </section>


    <footer><div data-include="footer.html"></div></footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js/main.js" charset="utf-8"></script>
  <script src="js/includ.js"></script>
</html>
